body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}


.navBar{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    border:1px solid black ;
    text-align: center;

}

header{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


main{

    width: 100%;
}

.subHeader{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    border:1px solid black ;
    text-align: center;

}

.aside{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 20%;
    height: 100%;
    margin-top: 5%;
}

.asideContent{
    margin-left: 5%;
}

.mainFolder{
    position: fixed;
    top: 15%;
    right: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.mainDiv{
     display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

/* .buttonFolder{
    display: flex;
    flex-direction: row;
    gap: 10px;

} */