body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}


.navBar{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    border:1px solid black ;
    text-align: center;


}

header{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.subHeader{

    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    border:1px solid black ;
    text-align: center;
    margin-top: 5rem;

}