.folder ul {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
}

.folder{
    list-style-type: none;
}


.folder:hover{
   cursor: pointer;
}

.subMenu{
    display: none;
}

.folder {
    text-decoration: none;
    color: var(--theme-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    transition: 0.3s;
    transform: translateX(-60px);
  }

  #menu a {
    text-decoration: none;
    color: var(--theme-color);
    display: flex;
    align-items: center;
    font-weight: 400;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    transition: 0.3s;
}

#menu a:hover{
    color: #0d6efd;
}

.subHeader{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}







